# Directories.
__pycache__/
datasets/__pycache__/
deployment/__pycache__/
nets/__pycache__/
preprocessing/__pycache__/

.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

checkpoints/
logs/
*.log
nohup.out

ssd-tensorflow.sublime-workspace
ssd-tensorflow.sublime-project
